<% if collection.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(collection.errors.count, "error") %> prevented you from creating your collection:</h2>
    <ul>
    <% collection.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for collection do |c| %>
  <%= c.hidden_field :user_id %>

  <%= c.label :name %><br>
  <%= c.text_field :name %>
  <br><br>
  <%= c.label :description %><br>
  <%= c.text_area :description %>
  <br><br>
  <%= c.submit %>
<% end %>
