<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div id="collection_edit_form">
  <div id="collection_id" style="display: none;"><%= @collection.id %></div>
  <h1>Edit your collection</h1>
  <%= render partial: "form", locals: { collection: @collection } %>
  <br>
  <h3>Items:</h3>
  <% @items.each do |item| %>
    <div class="item">
      <h4><%= item.name %></h4>
      <p><%= item.description %></p>
      <%= button_to "Edit this item", edit_collection_item_path(@collection, item), method: :get %>
      <%= button_to "Delete this item", item, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
  <br>
  <%= button_to "Add item", new_collection_item_path(@collection), method: :get, form: { id: "add_item" } %>
  <div id="new_item_form"></div>
</div>
