<% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prevented you from creating your post:</h2>
    <ul>
    <% post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for post do |p| %>
  <%= p.hidden_field :user_id %>

  <%= p.label :title %><br>
  <%= p.text_field :title %>
  <br><br>
  <%= p.label :content %><br>
  <%= p.text_area :content %>
  <br><br>
  <%= p.label :image %>
  <%= p.file_field :image %>
  <br><br>
  <%= p.submit %>
<% end %>
