<h1>Your Posts Feed!</h1>
<%= button_to "Create a new post", new_user_post_path(@current_user), method: :get %>
<% @posts.each do |post| %>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <h5>Submitted by: <%= post.user.username %></h5>
  <p><%= post.content %></p>
<% end %>
<%= button_to "Log out", logout_path %>
