<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1><%= @post.title %></h1>
<h4>Submitted by: <%= @post.user.username %></h4>
<p><%= @post.content %></p>
<br>
<% if @current_user == @post.user %>
  <p><%= link_to "Edit this post", edit_post_path %></p>
  <%= button_to "Delete this post", { action: "destroy", id: @post.id }, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<p><%= link_to "Click here", posts_path %> to return to your posts feed.</p>
