<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1><%= @post.title %></h1>
<h4>Submitted by: <%= @post.user.username %></h4>
<p><%= @post.content %></p>
<br>
<h3>Comments</h3>
<%= button_to "Add comment", new_post_comment_path(@post), method: :get %>
<% @comments.each do |comment| %>
  <h4><%= comment.author %> wrote:</h4>
  <p><%= comment.content %></p>
  <%= button_to "Edit this comment", edit_post_comment_path(@post, comment), method: :get %>
  <%= button_to "Delete this comment", comment, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<br><br>
<% if @current_user == @post.user %>
  <%= button_to "Edit this post", { action: "edit", id: @post.id }, method: :get %>
  <br>
  <%= button_to "Delete this post", { action: "destroy", id: @post.id }, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<p><%= link_to "Click here", posts_path %> to return to your posts feed.</p>
