<% if review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(review.errors.count, "error") %> prevented you from creating your review:</h2>
    <ul>
    <% review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for review do |c| %>
  <%= c.hidden_field :collection_id %>

  <%= c.label :content %><br>
  <%= c.text_field :content %>
  <br><br>
  <%= c.submit %>
<% end %>
