<% if review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(review.errors.count, "error") %> prevented you from creating your review:</h2>
    <ul>
    <% review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for review do |r| %>
  <%= r.hidden_field :collection_id %>

  <%= r.label :content %><br>
  <%= r.text_area :content %>
  <br><br>
  <%= r.label :rating %>
  <%= r.number_field :rating %>
  <br><br>
  <%= r.submit %>
<% end %>
